div[id^="inputCheckBoxPanelcheckbox"] > .row:first-child{
	display: initial;
}

#TrackerMaps{
	width: 97.5%;
	margin-bottom: 20px;
}

.jumbotron .form-group{
	margin-bottom: 0;
}

.alert{
	text-align: center;
}

#checkboxAccordion .panel{
	margin-top: 0;
}

#checkboxAccordion .btn{
	text-align: left;
}

.modal-content .modal-header{
	text-align: center;
	font-size: 25px;
}

.modal-content .modal-body{
	min-height: 400px;
	max-height: 400px;
	overflow-y: scroll;
}

.modal-content .modal-body #treeContainer{
	padding-bottom: 10px;
	padding-left: 15px;
}

.panel-group{
	margin-bottom: 0;
	margin-top: 0;
}

.panel-group .panel{
	margin-bottom: 0;
	margin-top: 0 !important;
}

.panel-group .panel-footer{
	padding: 0;
} 

.panel-group .panel-footer #hideUnhideMenu{
	border-radius: 0px 0px 20px 20px;
}

.jumbotron{
	padding: 10px; 
	margin: 0;
}

.jumbotron #optionsPane{
	 width: 95%;
}

#jumbotronCollapse{
	/*border: 1px inset;*/
}

.refCol object, .currCol object, .diffCol object{
	width: 100%;
	height: 100%;
}

.diffCol{
	display: none;
}

.imgDiffWrapper {
	background-repeat: no-repeat;
	background-blend-mode: difference;
	background-size: 100% auto;
}

.cleanRef{
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	mix-blend-mode: difference; 
}

.alert{
	margin-bottom: 0;
}

.extandable-tab-list-ref li.active > a
{
	background-color: #eee;
	border-radius: 0 0 30px 30px;
	font-weight: bold;
}

/*.extandable-tab-list-ref li > a:hover
{
	box-shadow: 2px 2px 8px #aaa;
}*/

.alert .list-group-item{
	padding: 5px 7px;
}

.extandable-tab-list-content .panel{
	padding: 0;
	margin: 0;
}

/*.extandable-tab-list-content .panel .panel-heading{
	padding: 2px;
	text-align: center;
}*/

.extandable-tab-list-content .panel .panel-heading label{
	padding: 0;
}

.panel-body{
	padding: 0;
}

.input-group-btn .btn{
	height: 34px;
}

.currColRightHeading{
	text-align: right;
	padding-right: 5%
}

.currColRightHeading label{
	display: none;
}

.imgContainer img
{
	width: 100%;
}

.panel div[id^="group"]{
	padding: 10px 20px;
}

.panel div[id^="group"] .checkbox{
	margin-bottom: 5px;
}

.panel div[id^="group"] .checkbox label{
	width: 100%;
}

.panel div[id^="det"] .panel-group{
	margin-bottom: 0;
}

.navbar{
	margin-bottom: 0;
	border-radius: 0;
}

.navbar .navbar-brand{
	font-weight: bold;
}

.navbar .extandable-tab-list-ref li{
/*	border: 1px solid red;
	border-radius: 0 0 30px 30px;*/
	margin: 0 0.5px;
}

#checkboxPlaceholder .panel-heading{
	padding: 0;
}

/*#checkboxPlaceholder .panel-group .panel-primary .panel-heading > a{
	font-weight: bold;
		text-transform: uppercase;
}*/

#checkboxPlaceholder > .panel > .panel-heading > a{
	text-transform: uppercase;
	font-weight: bold;
}

#checkboxPlaceholder .panel-group .panel-default .panel-heading > a{
	text-align: left;
	color: #333;
}

#checkboxPlaceholder, .jumbotron .form-group{
	box-shadow: 2px 2px 6px #666;
}

#checkboxPlaceholder > .panel{
	border: none;
}

#checkboxPlaceholder .panel-heading span.glyphicon{
	padding-right: 10px;
}

.tab-content{
	margin-bottom: 30px;
}

/*This is for the diff view of the bad module text file*/
.textInput {
  display: block;
  width: 100%;
  float: left;
}

textarea {
  min-width:100%;
  max-width: 100%;
  min-height:450px;
  max-height: 450px;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.viewType {
  font-size: 16px;
  clear: both;
  /*text-align: center;*/
  /*padding: 1em;*/
  position: fixed;
  width: 100%;
  bottom: 0;
  /*z-index: 100000;*/
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 41%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 41%,rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 41%,rgba(255,255,255,1) 100%);
}

.viewType .control-label{
	text-align: right;
	padding-top: 15px;
}

.viewType .btn-group{
	padding: 10px 0px;
}

div[id^="diffinputCheckBoxPanelcheckbox"]{
	padding: 20px 25px;
}

div[id^="diffinputCheckBoxPanelcheckbox"] .inlinediff, div[id^="diffinputCheckBoxPanelcheckbox"] .diff{
	padding: 10px 15px;
	width: 100%;
}

div[id^="diffinputCheckBoxPanelcheckbox"] .diff .texttitle, .extandable-tab-list-element .panel-heading{
	text-transform: uppercase;
	text-align: center;
	padding: 5px 0;
	font-weight: bold;
	font-family: Verdana;
}