div[id^="inputCheckBoxPanelcheckbox"] > .row:first-child{
	display: initial;
}

#TrackerMaps{
	width: 97.5%;
	margin-bottom: 20px;
}

.jumbotron .form-group{
	margin-bottom: 0;
}

.alert{
	text-align: center;
}

#checkboxAccordion .panel{
	margin-top: 0;
}

#checkboxAccordion .btn{
	text-align: left;
}

.modal-content .modal-header{
	text-align: center;
	font-size: 25px;
}

.modal-content .modal-body{
	min-height: 400px;
	max-height: 400px;
	overflow-y: scroll;
}

.modal-content .modal-body #treeContainer{
	padding-bottom: 10px;
	padding-left: 15px;
}

.panel-group{
	margin-bottom: 0;
	margin-top: 0;
}

.panel-group .panel{
	margin-bottom: 0;
	margin-top: 0 !important;
}

.panel-group .panel-footer{
	padding: 0;
} 

.panel-group .panel-footer #hideUnhideMenu{
	border-radius: 0px 0px 20px 20px;
}

.jumbotron{
	padding: 10px; 
	margin: 0;
}

.jumbotron #optionsPane{
	 width: 95%;
}

#jumbotronCollapse{
	/*border: 1px inset;*/
}

.refCol object, .currCol object, .diffCol object{
	width: 100%;
	height: 100%;
}

.diffCol{
	display: none;
}

.imgDiffWrapper {
	background-repeat: no-repeat;
	background-blend-mode: difference;
	background-size: 100% auto;
}

.cleanRef{
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	mix-blend-mode: difference; 
}

.alert{
	margin-bottom: 0;
}


.alert .list-group-item{
	padding: 5px 7px;
}

.extandable-tab-list-content .panel{
	padding: 0;
	margin: 0;
}

.extandable-tab-list-content .panel .panel-heading label{
	padding: 0;
}

.panel-body{
	padding: 0;
}

.input-group-btn .btn{
	height: 34px;
}

.currColRightHeading{
	text-align: right;
	padding-right: 5%
}

.currColRightHeading label{
	display: none;
}

.imgContainer img
{
	width: 100%;
}

.panel div[id^="group"]{
	padding: 10px 20px;
}

.panel div[id^="group"] .checkbox{
	margin-bottom: 5px;
}

.panel div[id^="group"] .checkbox label{
	width: 100%;
}

.panel div[id^="det"] .panel-group{
	margin-bottom: 0;
}

.navbar{
	margin-bottom: 0;
	border-radius: 0;
}

.navbar .navbar-brand{
	font-weight: bold;
}

#checkboxPlaceholder .panel-heading{
	padding: 0;
}

#checkboxPlaceholder > .panel > .panel-heading > a{
	text-transform: uppercase;
	font-weight: bold;
}

#checkboxPlaceholder .panel-group .panel-default .panel-heading > a{
	text-align: left;
	color: #333;
}

#checkboxPlaceholder > .panel{
	border: none;
}

#checkboxPlaceholder .panel-heading span.glyphicon{
	padding-right: 10px;
}

.tab-content{
	margin-bottom: 30px;
}

/*This is for the diff view of the bad module text file*/
.textInput {
  display: block;
  width: 100%;
  float: left;
}

textarea {
  min-width:100%;
  max-width: 100%;
  min-height:450px;
  max-height: 450px;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.viewType .control-label{
	text-align: right;
	padding-top: 15px;
}

.viewType .btn-group{
	padding: 10px 0px;
}

div[id^="inputCheckBoxPanelcheckbox"]{
	text-align: center;
}

div[id^="diffinputCheckBoxPanelcheckbox"]{
	padding: 20px 25px;
}

div[id^="diffinputCheckBoxPanelcheckbox"] .inlinediff, div[id^="diffinputCheckBoxPanelcheckbox"] .diff{
	padding: 10px 15px;
	width: 100%;
}

div[id^="diffinputCheckBoxPanelcheckbox"] .diff .texttitle, .extandable-tab-list-element .panel-heading{
	text-transform: uppercase;
	text-align: center;
	padding: 5px 0;
	font-weight: bold;
	font-family: Verdana;
}

.timelineContainer {
	/*height:50%;*/
	width:70%;
	/*margin: 0 auto;*/
	text-align: center;
	display: inline-block;
	background-color: #e8e8e8;
}

.fullscreenMode {
	margin: 0 auto;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1000;
	/*text-align: center;*/

	-webkit-transition: background-color 0.5s; /* Safari */
    transition: background-color 0.5s;
}

.fullscreenMode #timelineControls{
	/*width: 95% !important;*/

	-webkit-transition: width 1s; /* Safari */
    transition: width 1s;
}

.fullscreenMode #timelineControls #sliderGroup{
	/*width: calc((100% - 180px) * 0.95) !important;*/

	-webkit-transition: width 1s; /* Safari */
    transition: width 1s;
}

.fullscreenMode img{
	height: 95% !important;
	/*max-height: 95%;*/
	width: auto;
	/*height: auto;*/

	-webkit-transition: height 1s; /* Safari */
    transition: height 1s;
}

.fullscreenMode .btn-link, .fullscreenMode #progressLabel{
	color: white !important;
}

.fullscreenMode .btn-link:hover{
	color: #CCC !important;
}

#timelineImages {
	text-align: center;
}

#timelineImages img{
	width: 100%;
}

.fullscreenMode #timelineImages img{
	/*width: initial !important;*/
}

#timelineControls{
	width: 100%;
	/*min-width: 500px;*/
	padding: 5px 15px;
	display: inline-block;
}

#timelineControls button{
	float: left;
}

#timelineControls #sliderGroup{
	float: left;
	width: calc(100% - 180px);
	padding: 3px 0;
}

#timelineControls #sliderGroup .slider.slider-horizontal{
	width: calc((100% - 60px) * 0.95);
	margin: 0 20px;
}

#timelineControls #sliderGroup .slider .slider-selection{
	background: #0c8ecf;
}

#timelineControls #timelineSettings{
	background-color: #fff;
	width: 220px;
	right: 0;
	left: auto;
	font-weight: bold;
}

.fullscreenMode #timelineControls #timelineSettings{
	background-color: #000;
	color: white;
}

#timelineControls #timelineSettings li{
	line-height: 200%;
}

#timelineControls #timelineSettings #fpssetting{
	width:50px;
	padding: 0;
	text-align: right;
	height: initial;
}

#timelineControls #timelineSettings .form-control{
	height: initial;
}

#timelineControls #progresslabel{
	/*font-size: 12px;*/
	color: #5f5f5f;
	vertical-align: sub;
}

.moduleleveltree{
	text-align: left;
}

.detectorleveltree{
	text-align: left;
}

.hidenav {
	border-radius: 0px 0px 100px 100px;
	color: black;
}

.displayfiletype {
	float:right;
	color: #aaa;
}

.close {
    margin: -2px 0px 0px 10px;
    font-size: 18px;
}

button.close:hover{
	color: red;
	font-weight: bold;
}


#ex1Slider .slider-selection {
	background: #BABABA;
}

#progressLabel::first-letter{
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
}

area{
	background-color: black;
}

.tab-pane {
	margin-top:5px;
}

.imgContainer a{
	background-color: rgba(255, 150, 0, 0.15);
	/*opacity: 0.1;*/
	position: absolute;

	pointer-events: all;

	/*border: 3px groove orangered;*/
}

.anchorMap{
	display: block;
	height: 100%;
	width: 100%;
	top: 0;
	position: absolute;

	pointer-events: none;
}

.scaledAnchorMap{
	transform-origin: 0 0 0;
}

/* HACKS */
/*.tab-content > .tab-pane.hack,
.panel .refCol.hack*/
.hack{
	display: block !important;
	/*position: absolute !important;*/
}

/* ----------------------------------- NEON ------------------------------ */
.imgContainer a.neon {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: #FF9900;
  font-family: Audiowide;
}

.imgContainer a.neon.hover {
  color: #ffffff;
  -webkit-animation: neon 1.5s ease-in-out infinite alternate;
  -moz-animation: neon 1.5s ease-in-out infinite alternate;
  animation: neon 1.5s ease-in-out infinite alternate;
}

.imgContainer a.neon.clicked{
	box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
	/*border: 3px double orangered;*/
}

/*glow for webkit*/
@-webkit-keyframes neon {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}

/*glow for mozilla*/
@-moz-keyframes neon {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}

/*glow*/
@keyframes neon {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}
